* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

img {
  background: #000;
}

.container {
  width: 92%;
  margin: 0 auto;
  max-width: 1560px;
}

header {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 12px;
  position: sticky;
  top: -20px;
  background: #fff;
}
header .headerTop {
  height: 20px;
  border-bottom: 1px solid #000;
}
header .headerTop .container {
  display: flex;
  justify-content: space-between;
}
header .headerTop .container .lang {
  width: 10px;
  height: 10px;
}
header .headerContent {
  height: 60px;
  border-bottom: 1px solid #bbb;
}
header .headerContent .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header .headerContent .container .container-left {
  display: flex;
  align-items: center;
}
header .headerContent .container .container-left .logo1 {
  width: 120px;
  height: 100%;
}
header .headerContent .container .container-left .line {
  width: 1px;
  height: 30px;
  background: #000;
  margin: 0 20px;
}
header .headerContent .container .container-left .logo2 {
  width: 100px;
  height: 100%;
}
header .headerContent .container .container-right {
  display: flex;
  align-items: center;
  height: 100%;
}
header .headerContent .container .container-right .nav {
  display: flex;
  justify-content: space-between;
}
header .headerContent .container .container-right .nav .navItem {
  padding: 0 20px;
  margin: 0 10px;
  cursor: pointer;
}
header .headerContent .container .container-right .nav .navItem .navName {
  line-height: 60px;
}
header .headerContent .container .container-right .nav .navItem .navSel {
  display: none;
  position: absolute;
  top: 100%;
  width: 100vw;
  height: 150px;
  left: 0;
  right: 0;
  cursor: default;
  background: #c00;
}
header .headerContent .container .container-right .nav .navItem:hover {
  background: #999;
}
header .headerContent .container .container-right .nav .navItem:hover .navSel {
  display: block;
}
header .headerContent .container .container-right .search {
  width: 20px;
  height: 20px;
}

footer .footer-content {
  padding-top: 30px;
  display: flex;
}
footer .footer-content .container {
  justify-content: space-between;
  display: flex;
}
footer .footer-content .container .logoBox .logo {
  width: 120px;
  height: 30px;
}
footer .footer-content .container .logoBox .share {
  display: flex;
}
footer .footer-content .container .logoBox .share img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
footer .footer-content .container .logoBox .cqc {
  display: flex;
}
footer .footer-content .container .logoBox .cqc img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
footer .footer-content .container .btmNav {
  display: flex;
}
footer .footer-content .container .btmNav .navBox {
  margin: 0 30px;
}
footer .footer-content .container .btmNav .navBox .navTitle {
  font-weight: bold;
}
footer .footer-content .container .btmTel {
  width: 200px;
}
footer .footer-content .container .btmTel .telItem {
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
