* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
body .swiper-button-next,
body .swiper-button-prev {
  background: rgba(7, 29, 73, 0.1);
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .swiper-button-next img,
body .swiper-button-prev img {
  width: 22px;
  height: 14px;
}
body .swiper-button-next {
  right: 0;
}
body .swiper-button-prev {
  left: 0;
}

img {
  user-select: none;
}

.container {
  width: 92%;
  margin: 0 auto;
  max-width: 1560px;
}

header {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 12px;
  position: sticky;
  top: -44px;
  background: #fff;
  z-index: 99;
}
header .headerTop {
  height: 44px;
  padding: 13px 0;
  border-bottom: 1px solid rgba(7, 29, 73, 0.1);
  color: #071d49;
  font-weight: bold;
  font-size: 13px;
  font-family: OPPOSans;
  user-select: none;
}
header .headerTop .container {
  display: flex;
  justify-content: space-between;
}
header .headerTop .container .container-left,
header .headerTop .container .container-right {
  display: flex;
  align-items: center;
}
header .headerTop .container .container-left .leftLine,
header .headerTop .container .container-right .leftLine {
  margin: 0 7px;
}
header .headerTop .container .container-left .rightLine,
header .headerTop .container .container-right .rightLine {
  margin: 0 24px;
  width: 1px;
  height: 14px;
  background: #071d49;
  opacity: 0.2;
}
header .headerTop .container .lang {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
header .headerTop .container .jd {
  width: 20px;
  height: 15px;
  margin-right: 5px;
}
header .headerTop .container .tm {
  width: 17px;
  height: 16px;
  margin-right: 5px;
}
header .headerContent {
  height: 98px;
}
header .headerContent > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header .headerContent > .container .container-left {
  display: flex;
  align-items: center;
}
header .headerContent > .container .container-left .logo {
  width: 414px;
  height: 60px;
}
header .headerContent > .container .container-right {
  display: flex;
  align-items: center;
  height: 100%;
}
header .headerContent > .container .container-right .nav {
  line-height: 98px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-family: Alibaba PuHuiTi 2;
  color: #333;
}
header .headerContent > .container .container-right .nav .navItem {
  margin: 0 10px;
  cursor: pointer;
}
header .headerContent > .container .container-right .nav .navItem .navName {
  padding: 0 50px;
  white-space: pre;
  font-weight: bold;
}
header .headerContent > .container .container-right .nav .navItem .navSel {
  height: 0;
  overflow: hidden;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  right: 0;
  cursor: default;
  background: #fff;
  transition: height 0.2s;
}
header .headerContent > .container .container-right .nav .navItem .navSel > .container {
  height: 280px;
  padding-top: 48px;
  display: flex;
  line-height: 1;
}
header .headerContent > .container .container-right .nav .navItem .navSel > .container .navSelItem {
  width: 480px;
  height: 160px;
  padding-left: 40px;
  border-right: 1px solid rgba(7, 29, 73, 0.1);
}
header .headerContent > .container .container-right .nav .navItem .navSel > .container .navSelItem .selTitle {
  font-size: 18px;
  font-family: OPPOSans;
  font-weight: bold;
  color: #071d49;
  line-height: 24px;
  margin-bottom: 25px;
}
header .headerContent > .container .container-right .nav .navItem .navSel > .container .navSelItem .selName span {
  font-size: 16px;
  font-family: OPPOSans;
  font-weight: 500;
  color: #666;
  line-height: 30px;
  cursor: pointer;
  z-index: 1;
  position: relative;
}
header .headerContent > .container .container-right .nav .navItem .navSel > .container .navSelItem .selName span::after {
  content: "";
  position: absolute;
  bottom: 2px;
  width: 100%;
  left: 0;
  height: 4px;
  display: none;
  z-index: -1;
  background: #ffd100;
}
header .headerContent > .container .container-right .nav .navItem .navSel > .container .navSelItem .selName span:hover {
  font-weight: bold;
  color: #071d49;
}
header .headerContent > .container .container-right .nav .navItem .navSel > .container .navSelItem .selName span:hover::after {
  display: block;
}
header .headerContent > .container .container-right .nav .navItem .activeLine {
  position: relative;
  width: 100%;
  height: 6px;
  top: -6px;
  overflow: hidden;
}
header .headerContent > .container .container-right .nav .navItem .activeLine::after {
  position: absolute;
  width: 100%;
  top: 6px;
  content: "";
  height: 6px;
  background: #071d49;
  transition: top 0.1s;
}
header .headerContent > .container .container-right .nav .navItem:hover .activeLine::after {
  top: 0;
}
header .headerContent > .container .container-right .nav .navItem:hover .navSel {
  height: 280px;
}
header .headerContent > .container .container-right .search {
  width: 17px;
  height: 18px;
  cursor: pointer;
}

footer .footer-content {
  padding-top: 76px;
  border-top: 1px solid #f5f5f5;
  display: flex;
  padding-bottom: 56px;
}
footer .footer-content .container {
  justify-content: space-between;
  display: flex;
}
footer .footer-content .container .logoBox .logo {
  width: 194px;
  height: 79px;
  margin-bottom: 37px;
}
footer .footer-content .container .logoBox .share {
  display: flex;
}
footer .footer-content .container .logoBox .share .shareItem {
  width: 44px;
  height: 44px;
  margin-right: 4px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
  cursor: pointer;
}
footer .footer-content .container .logoBox .share .shareItem .weixin {
  width: 21px;
  height: 17px;
}
footer .footer-content .container .logoBox .share .shareItem .zheshisha {
  width: 19px;
  height: 17px;
}
footer .footer-content .container .logoBox .share .shareItem .douyin {
  width: 17px;
  height: 19px;
}
footer .footer-content .container .logoBox .share .shareItem:hover {
  background: #ffd100;
}
footer .footer-content .container .logoBox .cqc {
  width: 362px;
  height: 82px;
}
footer .footer-content .container .btmNav {
  padding-top: 30px;
  margin-left: 7%;
  display: flex;
  flex: 1;
}
footer .footer-content .container .btmNav .navBox {
  width: 30%;
}
footer .footer-content .container .btmNav .navBox .navTitle {
  white-space: pre;
  font-weight: bold;
  font-size: 20px;
  font-family: OPPOSans;
  color: #071d49;
  line-height: 28px;
  margin-bottom: 25px;
}
footer .footer-content .container .btmNav .navBox .navItem {
  white-space: pre;
  font-size: 16px;
  user-select: none;
  cursor: pointer;
  font-family: OPPOSans;
  font-weight: 400;
  color: #071d49;
  line-height: 24px;
  opacity: 0.5;
}
footer .footer-content .container .btmNav .navBox .navItem:hover {
  opacity: 1;
}
footer .footer-content .container .btmTel .telItem {
  margin-bottom: 20px;
  color: #071d49;
  font-weight: bold;
  line-height: 24px;
  font-family: OPPOSans;
}
footer .footer-content .container .btmTel .telItem .p1 {
  font-size: 16px;
  white-space: pre;
}
footer .footer-content .container .btmTel .telItem .p2 {
  font-size: 22px;
  white-space: pre;
}
footer .footer-content .container .btmTel .telItem .p3 {
  font-size: 16px;
  white-space: pre;
}
footer .footerBtm .container {
  line-height: 70px;
  border-top: 1px solid #f5f5f5;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-family: OPPOSans;
  font-weight: 500;
  color: #071d49;
}
footer .footerBtm .container a {
  color: #071d49;
  text-decoration: none;
  margin-right: 30px;
}
footer .footerBtm .container a:hover {
  text-decoration: underline;
}
footer .footerBtm .container a:last-child {
  margin-right: 0;
}

.home #banner {
  width: 100%;
  height: 820px;
}
.home #banner .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home #banner .swiper-slide .bannerImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home #banner .banner-progress {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 43px;
  margin: auto;
  width: 184px;
  height: 20px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
.home #banner .banner-progress .progressCount,
.home #banner .banner-progress .progressBar {
  background-repeat: no-repeat;
  background-size: cover;
  transition: width 0.3s ease-out;
}
.home #banner .banner-progress .progressCount {
  background-image: url("../../web/img/progressCount.webp");
}
.home #banner .banner-progress .progressBar {
  width: 0;
  flex: 1;
  background-position: right top;
  background-image: url("../../web/img/progressBar.webp");
}
.home #searchBox {
  background: #071d49;
  height: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home #searchBox .overturnBox {
  width: 255px;
  height: 240px;
  margin-top: 67px;
  margin-bottom: 28px;
  position: relative;
}
.home #searchBox .overturnBox .overturnBg {
  width: 145px;
  height: 186px;
  position: absolute;
  left: 37px;
  top: 27px;
  z-index: 0;
}
.home #searchBox .overturnBox .overturnWrap .overturnItem {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: transform 0.3s;
  position: absolute;
  top: 0;
  left: 0;
}
.home #searchBox .overturnBox .overturnWrap .overturnItem.rotate {
  transform: rotateY(0deg);
}
.home #searchBox .inputBox {
  width: 790px;
  height: 88px;
  background: #fff;
  position: relative;
}
.home #searchBox .inputBox .search {
  width: 20px;
  height: 21px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 48px;
  margin: auto;
}
.home #searchBox .inputBox input {
  outline: none;
  border: none;
  background: none;
  width: 100%;
  height: 100%;
  display: block;
  padding-left: 100px;
  font-size: 18px;
  font-family: Alibaba PuHuiTi 2;
  color: #071d49;
  padding-right: 30px;
}
.home #searchBox .inputBox input::placeholder {
  color: rgba(7, 29, 73, 0.5);
}
.home .recommendation {
  height: 960px;
  position: relative;
}
.home .recommendation::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #071d49;
  z-index: 0;
  right: 50%;
}
.home .recommendation::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: #f5f5f5;
  z-index: 0;
  left: 50%;
}
.home .recommendation .container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  position: relative;
  z-index: 1;
}
.home .recommendation .container .recommendation-left {
  padding-top: 120px;
  margin-left: -50px;
  width: 640px;
  position: relative;
  z-index: 1;
  background: #071d49;
}
.home .recommendation .container .recommendation-left .topName {
  display: flex;
  font-size: 18px;
  font-family: Alibaba PuHuiTi 2;
  font-weight: normal;
  color: #fff;
}
.home .recommendation .container .recommendation-left .topName .gongwenbao {
  width: 22px;
  height: 20px;
  margin-right: 5px;
}
.home .recommendation .container .recommendation-left .recommendationTitle {
  width: 542px;
  font-size: 56px;
  font-family: Alibaba PuHuiTi 2;
  color: #ffffff;
  line-height: 60px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 46px;
}
.home .recommendation .container .recommendation-left .entranceBtn {
  width: 200px;
  height: 54px;
  background: #ffd100;
  line-height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
.home .recommendation .container .recommendation-left .entranceBtn .rightIcon {
  margin-left: 18px;
  width: 7px;
  height: 10px;
  transition: transform 0.5s;
}
.home .recommendation .container .recommendation-left .entranceBtn:hover .rightIcon {
  transform: translateX(5px);
}
.home .recommendation .container .recommendation-left .quantou {
  width: 525px;
  height: 467px;
  position: absolute;
  left: -15px;
  bottom: 0;
}
.home .recommendation .container .recommendation-right {
  flex: 1;
  width: 0;
  background: #f5f5f5;
  position: relative;
  padding-top: 67px;
  padding-left: 50px;
  margin-right: -110px;
}
.home .recommendation .container .recommendation-right .rightTitle {
  font-size: 28px;
  font-family: Alibaba PuHuiTi 2;
  color: #071d49;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 27px;
}
.home .recommendation .container .recommendation-right .recommendationNames {
  display: flex;
  flex-wrap: wrap;
}
.home .recommendation .container .recommendation-right .recommendationNames .nameItem {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid rgba(18, 40, 82, 0.2);
  font-size: 18px;
  font-family: Alibaba PuHuiTi 2;
  color: rgba(7, 29, 73, 0.5);
}
.home .recommendation .container .recommendation-right #recommendationSwiper {
  margin-top: 60px;
  width: 100%;
  height: 685px;
}
.home .recommendation .container .recommendation-right #recommendationSwiper .swiper-button-prev {
  transform: translateX(-50px);
}
.home .recommendation .container .recommendation-right #recommendationSwiper .recommendationItem {
  background: #fff;
  width: 570px;
  padding: 50px 54px;
  position: relative;
}
.home .recommendation .container .recommendation-right #recommendationSwiper .recommendationItem .itemTitle {
  font-size: 36px;
  margin-bottom: 30px;
  font-family: Alibaba PuHuiTi 2;
  color: #071d49;
  font-weight: bold;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(18, 40, 82, 0.15);
}
.home .recommendation .container .recommendation-right #recommendationSwiper .recommendationItem .itemmsg {
  font-size: 18px;
  position: relative;
  font-family: Alibaba PuHuiTi 2;
  z-index: 1;
  color: #122852;
}
.home .recommendation .container .recommendation-right #recommendationSwiper .recommendationItem .itemmsg .msg {
  padding-left: 10px;
  position: relative;
}
.home .recommendation .container .recommendation-right #recommendationSwiper .recommendationItem .itemmsg .msg::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  background: currentColor;
  border-radius: 50%;
  top: 11px;
  left: 0px;
}
.home .recommendation .container .recommendation-right #recommendationSwiper .recommendationItem .itemBtn {
  width: 145px;
  height: 54px;
  background: #ffd100;
  line-height: 54px;
  margin-top: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  position: relative;
  z-index: 1;
}
.home .recommendation .container .recommendation-right #recommendationSwiper .recommendationItem .itemBtn .rightIcon {
  margin-left: 18px;
  width: 7px;
  height: 10px;
  transition: transform 0.5s;
}
.home .recommendation .container .recommendation-right #recommendationSwiper .recommendationItem .itemBtn:hover .rightIcon {
  transform: translateX(5px);
}
.home .recommendation .container .recommendation-right #recommendationSwiper .recommendationItem .msgBg {
  position: absolute;
  width: 418px;
  height: 428px;
  left: 0;
  bottom: 0;
  z-index: 0;
}
.home .recommendation .container .recommendation-right #recommendationSwiper .recommendationItem .msgImg {
  position: absolute;
  width: 320px;
  bottom: 12px;
  right: 14px;
  z-index: 0;
}

/*# sourceMappingURL=style.css.map */
