$primaryColor: #071d49;
$textColor1: #333;
$textColor2: #666;
$mainBackground: #fff;
$btnBackground: #eee;
$yellowBackground: #ffd100;
$borderColor: #f5f5f5;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

img {
  user-select: none;
}

.container {
  width: 92%;
  margin: 0 auto;
  max-width: 1560px;
}

@import "css/header.scss";
@import "css/footer.scss";
@import "css/home.scss";
