* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 92%;
  margin: 0 auto;
  max-width: 1560px;
}

header {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 12px;
  position: sticky;
  top: -44px;
  background: #fff;
}
header .headerTop {
  height: 44px;
  padding: 13px 0;
  border-bottom: 1px solid rgba(7, 29, 73, 0.1);
  color: #071D49;
  font-weight: bold;
  font-size: 13px;
  font-family: OPPOSans;
  user-select: none;
}
header .headerTop .container {
  display: flex;
  justify-content: space-between;
}
header .headerTop .container .container-left,
header .headerTop .container .container-right {
  display: flex;
  align-items: center;
}
header .headerTop .container .container-left .leftLine,
header .headerTop .container .container-right .leftLine {
  margin: 0 7px;
}
header .headerTop .container .container-left .rightLine,
header .headerTop .container .container-right .rightLine {
  margin: 0 24px;
  width: 1px;
  height: 14px;
  background: #071D49;
  opacity: 0.2;
}
header .headerTop .container .lang {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
header .headerTop .container .jd {
  width: 20px;
  height: 15px;
  margin-right: 5px;
}
header .headerTop .container .tm {
  width: 17px;
  height: 16px;
  margin-right: 5px;
}
header .headerContent {
  height: 98px;
  border-bottom: 1px solid #bbb;
}
header .headerContent .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header .headerContent .container .container-left {
  display: flex;
  align-items: center;
}
header .headerContent .container .container-left .logo {
  width: 414px;
  height: 60px;
}
header .headerContent .container .container-right {
  display: flex;
  align-items: center;
  height: 100%;
}
header .headerContent .container .container-right .nav {
  line-height: 98px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-family: Alibaba PuHuiTi 2;
  color: #333;
}
header .headerContent .container .container-right .nav .navItem {
  margin: 0 10px;
  cursor: pointer;
}
header .headerContent .container .container-right .nav .navItem .navName {
  padding: 0 50px;
  white-space: pre;
  font-weight: bold;
}
header .headerContent .container .container-right .nav .navItem .navSel {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 150px;
  left: 0;
  right: 0;
  cursor: default;
  background: #c00;
}
header .headerContent .container .container-right .nav .navItem .activeLine {
  position: relative;
  width: 100%;
  height: 6px;
  top: -6px;
  overflow: hidden;
}
header .headerContent .container .container-right .nav .navItem .activeLine::after {
  position: absolute;
  width: 100%;
  top: 6px;
  content: "";
  height: 6px;
  background: #071D49;
  transition: top 0.1s;
}
header .headerContent .container .container-right .nav .navItem:hover .activeLine::after {
  top: 0;
}
header .headerContent .container .container-right .nav .navItem:hover .navSel {
  display: block;
}
header .headerContent .container .container-right .search {
  width: 17px;
  height: 18px;
  cursor: pointer;
}

footer .footer-content {
  padding-top: 30px;
  display: flex;
}
footer .footer-content .container {
  justify-content: space-between;
  display: flex;
}
footer .footer-content .container .logoBox .logo {
  width: 120px;
  height: 30px;
}
footer .footer-content .container .logoBox .share {
  display: flex;
}
footer .footer-content .container .logoBox .share img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
footer .footer-content .container .logoBox .cqc {
  display: flex;
}
footer .footer-content .container .logoBox .cqc img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
footer .footer-content .container .btmNav {
  display: flex;
}
footer .footer-content .container .btmNav .navBox {
  margin: 0 30px;
}
footer .footer-content .container .btmNav .navBox .navTitle {
  font-weight: bold;
}
footer .footer-content .container .btmTel {
  width: 200px;
}
footer .footer-content .container .btmTel .telItem {
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
