// --
$primaryColor: #071d49;
$yellotextColor: #ffd100;
$redColor: #f00;
$textColor1: #333;
$textColor2: #666;
$textColor3: #fff;
$textColor4: #122852;
$textColor5: #c7c7c7;
$textColor6: #13225c;
$mainBackground: #fff;
$activeBackground: #122852;
$markBackground: #122852;
$markBackground2: #ccc;
$btnBackground: #eee;
$inputBackground: #fff;
$yellowBackground: #ffd100;
$grayBackground: #f5f5f5;
$borderColor: #f5f5f5;
$borderColor2: #122852;
$borderColor3: #dcdcdc;
$borderColor4: #fff;
$borderColor5: #f3f2f0;
$borderColor6: #262F3F;
$boxShadowColor: #122852;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --ratio: 1;
  background: $mainBackground;
  overflow-x: hidden;
  .yellotext {
    color: $yellotextColor;
  }
  .redText {
    color: $redColor;
  }

  .myTab {
    height: calc(72px * var(--ratio));
    line-height: calc(72px * var(--ratio));
    display: flex;
    width: 100%;
    margin-bottom: calc(40px * var(--ratio));
    border: calc(1px * var(--ratio)) solid rgba($borderColor2, 0.1);
    .myTabItem {
      flex: 1;
      text-align: center;
      font-size: calc(22px * var(--ratio));
      font-weight: bold;
      color: $primaryColor;
      cursor: pointer;
      &.active {
        background: $activeBackground;
        color: $textColor3;
      }
    }
  }

  .myTabContent {
    .myTabWrap {
      flex-wrap: wrap;
      display: none;
      &.show {
        display: flex;
      }
    }
  }

  .mySearchInput {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: calc(72px * var(--ratio));
    border: calc(1px * var(--ratio)) solid rgba($borderColor2, 0.1);
    margin-bottom: calc(24px * var(--ratio));
    input {
      padding-left: calc(37px * var(--ratio));
      flex: 1;
      width: 0;
      background: none;
      outline: none;
      font-size: calc(18px * var(--ratio));
      color: $primaryColor;
      border: none;
      &::placeholder {
        color: rgba($textColor4, 0.5);
      }
    }
    .mySearchBtn {
      width: calc(80px * var(--ratio));
      cursor: pointer;
      background: $yellowBackground url("../../web/img/search.webp") no-repeat
        center center / calc(20px * var(--ratio)) calc(21px * var(--ratio));
    }
  }

  .myPagination {
    width: max-content;
    display: flex;
    margin: auto;
    .myPaginationBtn a {
      color: $textColor2;
      width: calc(41px * var(--ratio));
      height: calc(41px * var(--ratio));
      border-radius: calc(4px * var(--ratio));
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.3s;
      &:hover {
        background: $grayBackground;
      }
      &.active {
        background: $primaryColor;
        color: $textColor3;
      }
    }
  }

  .partTitle {
    .topName {
      display: flex;
      align-items: center;
      font-size: calc(18px * var(--ratio));
      font-family: Alibaba PuHuiTi 2;
      font-weight: normal;
      color: $primaryColor;
      .topImg {
        height: calc(20px * var(--ratio));
        margin-right: calc(5px * var(--ratio));
      }
    }
    .topTitle {
      width: calc(542px * var(--ratio));
      font-size: calc(56px * var(--ratio));
      font-family: Alibaba PuHuiTi 2;
      color: $primaryColor;
      line-height: calc(60px * var(--ratio));
      font-weight: bold;
      margin-top: calc(30px * var(--ratio));
      margin-bottom: calc(46px * var(--ratio));
    }
  }

  .yellowBtn {
    background: $yellowBackground;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    position: relative;
    z-index: 1;
    .rightIcon {
      margin-left: calc(18px * var(--ratio));
      width: calc(7px * var(--ratio));
      height: calc(10px * var(--ratio));
      transition: transform 0.5s;
    }
    &:hover {
      .rightIcon {
        transform: translateX(calc(5px * var(--ratio)));
      }
    }
  }

  #aboutUsBanner {
    width: 100%;
    height: calc(580px * var(--ratio));
    .swiper-slide {
      text-align: center;
      font-size: calc(18px * var(--ratio));
      background: #eee;
      display: flex;
      justify-content: center;
      align-items: center;
      .bannerImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .aboutUsTab {
    height: calc(72px * var(--ratio));
    background: $mainBackground;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: calc(1px * var(--ratio));
      width: 50%;
      z-index: 0;
      border-bottom: calc(2px * var(--ratio)) solid $primaryColor;
    }
    .container {
      left: calc(100px * var(--ratio));
      display: flex;
      z-index: 1;
      position: relative;
      background: $mainBackground;
      .tabItem {
        font-size: calc(18px * var(--ratio));
        font-family: Alibaba PuHuiTi 2;
        height: 100%;
        line-height: calc(70px * var(--ratio));
        border-bottom: calc(2px * var(--ratio)) solid transparent;
        position: relative;
        font-weight: bold;
        cursor: pointer;
        a {
          height: 100%;
          display: block;
          color: rgba($primaryColor, 0.5);
          text-decoration: none;
          padding: 0 calc(60px * var(--ratio));
        }
        &::after {
          content: "";
          position: absolute;
          right: 0;
          bottom: 0;
          height: calc(14px * var(--ratio));
          width: calc(1px * var(--ratio));
          background: rgba($primaryColor, 0.1);
        }
        &.bd {
          border-color: $primaryColor;
        }
        &.active,
        &:hover {
          a {
            color: $primaryColor;
          }
        }
        &.active {
          border-color: $primaryColor;
          &::after {
            height: calc(41px * var(--ratio));
            background: $primaryColor;
          }
        }
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    background: rgba($primaryColor, 0.1);
    width: calc(80px * var(--ratio));
    height: calc(80px * var(--ratio));
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: calc(22px * var(--ratio));
      height: calc(14px * var(--ratio));
    }
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev {
    left: 0;
  }

  .popupWrap {
    position: fixed;
    display: none;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(#000, 0.5);
    &.show {
      display: block;
      .popupContent {
        animation: fadeInUp;
        animation-duration: 0.3s;
      }
    }
    .popupContent {
      width: 500px;
      height: 500px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background: $mainBackground;
      .popupClose {
        width: 48px;
        height: 48px;
        background: $yellowBackground url("../../web/img/pupopClose.webp")
          no-repeat center center / 14px 16px;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        z-index: 9;
      }
    }
  }
}

img {
  user-select: none;
}

.container {
  width: 92%;
  margin: 0 auto;
  max-width: calc(1560px * var(--ratio));
}

@media screen and (max-width: 4080px) {
  body {
    --ratio: 2;
  }
}
@media screen and (max-width: 3000px) {
  body {
    --ratio: 1.3;
  }
}
@media screen and (max-width: 2360px) {
  body {
    --ratio: 1.1;
  }
}
@media screen and (max-width: 2150px) {
  body {
    --ratio: 1;
  }
}
@media screen and (max-width: 2000px) {
  body {
    --ratio: 0.9;
  }
}
@media screen and (max-width: 1640px) {
  body {
    --ratio: 0.7;
  }
}

@import "css/header.scss";
@import "css/footer.scss";
@import "css/home.scss";
@import "css/aboutUs.scss";
@import "css/honorsCertificates.scss";
@import "css/branding.scss";
@import "css/news.scss";
@import "css/newsSearch.scss";
@import "css/newsDetail.scss";
