* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

img {
  background: #000;
}

.container {
  width: 92%;
  margin: 0 auto;
  max-width: 1560px;
}

@import "css/header.scss";
@import "css/footer.scss";
