.aboutUs {
  .company {
    padding-top: 98px;
    height: 1220px;
    background: url("../../web/img/companyBg.webp") no-repeat, $mainBackground;
    background-size: contain;
    .container {
      display: flex;
      justify-content: space-between;
      padding: 0 150px;
    }
    .companyLeft {
      font-family: Alibaba PuHuiTi 2;
      width: 734px;
      color: $primaryColor;
      .companyName {
        font-size: 42px;
        line-height: 60px;
        font-weight: bold;
        margin-bottom: 36px;
      }
      .companyMsg {
        margin-bottom: 100px;
        p {
          font-size: 22px;
          line-height: 36px;
          + p {
            margin-top: 36px;
          }
        }
      }
      .companyLeftBtm {
        .companyInfoItem {
          position: relative;
          border: 1px solid rgba($borderColor2, 0.1);
          box-shadow: 0 5px 10px 0px rgba($boxShadowColor, 0.1);
          padding: 38px 62px;
          white-space: pre;
          font-size: 18px;
          color: $textColor4;
          line-height: 28px;
          margin-bottom: 20px;
          overflow: hidden;
          .infoInex {
            position: absolute;
            right: 0;
            bottom: -20px;
            font-size: 120px;
            line-height: 1;
            font-style: italic;
            font-weight: bold;
            color: rgba($primaryColor, 0.05);
            user-select: none;
          }
          &::before {
            content: "";
            position: absolute;
            background: url("../../web/img/companyInfoBg.webp");
            width: 10px;
            height: 13px;
            left: 37px;
            top: 43px;
            background-size: cover;
          }
        }
      }
    }
    .companyRight {
      flex: 1;
      margin-left: 144px;
      padding-top: 96px;
      .numInfoItem {
        width: 560px;
        color: $primaryColor;
        border-bottom: 1px solid rgba($primaryColor, 0.2);
        margin-bottom: 50px;
        .numBoxWrap {
          height: 60px;
          display: flex;
          align-items: center;
          .numBox {
            display: flex;
            height: 100%;
            user-select: none;
            overflow: hidden;
            .digit {
              height: 60px;
              font-size: 60px;
              line-height: 1;
              transform: translateY(calc(var(--num) * -60px));
              transition: transform 0.3s;
            }
          }
          .numUnit {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
            line-height: 1;
            user-select: none;
            font-size: 22px;
            .unit {
              font-size: 14px;
            }
          }
        }
        .numInfoName {
          margin-top: 26px;
          font-size: 22px;
          font-weight: bold;
        }
        .numInfoMsg {
          font-size: 18px;
          font-style: italic;
          line-height: 24px;
          opacity: 0.5;
          margin-bottom: 50px;
        }
      }
    }
  }
  #course {
    // height: 100vh;
    height: 1300px;
    // overflow-y: auto;
    // &::after {
    //   content: "";
    //   display: block;
    //   height: 1500px;
    // }
    // &::-webkit-scrollbar {
    //   display: none;
    // }
    .courseContent {
      // height: calc(100% - 98px);
      height: 100%;
      background: url("../../web/img/courseBg.webp") no-repeat;
      background-size: cover;
      position: sticky;
      top: 98px;
      .container {
        padding: 200px 150px 0;
        height: 100%;
        color: $primaryColor;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        .courseName {
          font-size: 42px;
          font-weight: bold;
          margin-bottom: 22px;
        }
        .courseName2 {
          font-weight: bold;
          font-size: 22px;
        }
        .shuxian {
          width: 2px;
          height: 750px;
          position: absolute;
          top: 436px;
          bottom: 0;
          left: 376px;
          z-index: 0;
        }
        .swiperBox {
          display: flex;
          position: relative;
          z-index: 1;
          justify-content: space-between;
          height: 731px;
          overflow: hidden;
          margin-top: 60px;
          margin-bottom: 145px;
          padding-left: 50px;
          padding-right: 10px;
          user-select: none;
          .hengxian {
            width: 460px;
            height: 40px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 180px;
            z-index: 2;
            margin: auto;
          }
          #yearBanner {
            font-size: 18px;
            color: rgba($textColor4, 0.5);
            font-style: italic;
            width: 210px;
            position: relative;
            overflow: initial;
            .swiper-slide {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              padding-right: 68px;
              position: relative;
              &.swiper-slide-active {
                color: $textColor4;
                font-size: 22px;
                font-weight: bold;
              }
              &::after {
                content: "";
                position: absolute;
                width: 24px;
                height: 24px;
                right: -11px;
                top: 0;
                bottom: 0;
                margin: auto;
                background: url("../../web/img/heidian.webp") center center /
                  100% 100%;
              }
            }
          }
          #courseBanner {
            width: 100%;
            margin-top: -100px;
            .swiper-slide-active {
              height: 200px !important;
            }
          }
        }
        .swiper-scrollbar {
          position: absolute;
          width: 10px;
          height: 805px;
          right: 142px;
          top: 436px;
          background: rgba($markBackground, 0.1);
          .swiper-scrollbar-drag {
            background: $primaryColor;
            // height: 200px !important;
          }
        }
      }
    }
  }
}
