.aboutUs {
  .company {
    padding-top: calc(98px * var(--ratio));
    height: calc(1220px * var(--ratio));
    background: url("../../web/img/companyBg.webp") no-repeat, $mainBackground;
    background-size: contain;
    .container {
      display: flex;
      justify-content: space-between;
      padding: 0 calc(150px * var(--ratio));
    }
    .companyLeft {
      font-family: Alibaba PuHuiTi 2;
      width: calc(734px * var(--ratio));
      color: $primaryColor;
      .companyName {
        font-size: calc(42px * var(--ratio));
        line-height: calc(60px * var(--ratio));
        font-weight: bold;
        margin-bottom: calc(36px * var(--ratio));
      }
      .companyMsg {
        margin-bottom: calc(100px * var(--ratio));
        p {
          font-size: calc(22px * var(--ratio));
          line-height: calc(36px * var(--ratio));
          + p {
            margin-top: calc(36px * var(--ratio));
          }
        }
      }
      .companyLeftBtm {
        .companyInfoItem {
          position: relative;
          border: calc(1px * var(--ratio)) solid rgba($borderColor2, 0.1);
          box-shadow: 0 calc(5px * var(--ratio)) calc(10px * var(--ratio)) 0
            rgba($boxShadowColor, 0.1);
          padding: calc(38px * var(--ratio)) calc(62px * var(--ratio));
          white-space: pre;
          font-size: calc(18px * var(--ratio));
          color: $textColor4;
          line-height: calc(28px * var(--ratio));
          margin-bottom: calc(20px * var(--ratio));
          overflow: hidden;
          .infoInex {
            position: absolute;
            right: 0;
            bottom: calc(-20px * var(--ratio));
            font-size: calc(120px * var(--ratio));
            line-height: 1;
            font-style: italic;
            font-weight: bold;
            color: rgba($primaryColor, 0.05);
            user-select: none;
          }
          &::before {
            content: "";
            position: absolute;
            background: url("../../web/img/companyInfoBg.webp");
            width: calc(10px * var(--ratio));
            height: calc(13px * var(--ratio));
            left: calc(37px * var(--ratio));
            top: calc(43px * var(--ratio));
            background-size: cover;
          }
        }
      }
    }
    .companyRight {
      flex: 1;
      margin-left: calc(144px * var(--ratio));
      padding-top: calc(96px * var(--ratio));
      .numInfoItem {
        width: calc(560px * var(--ratio));
        color: $primaryColor;
        border-bottom: calc(1px * var(--ratio)) solid rgba($primaryColor, 0.2);
        margin-bottom: calc(50px * var(--ratio));
        .numBoxWrap {
          height: calc(60px * var(--ratio));
          display: flex;
          align-items: center;
          .numBox {
            display: flex;
            height: 100%;
            user-select: none;
            overflow: hidden;
            .digit {
              height: calc(60px * var(--ratio));
              font-size: calc(60px * var(--ratio));
              line-height: 1;
              transform: translateY(calc(var(--num) * (-60px * var(--ratio))));
              transition: transform 0.3s;
            }
          }
          .numUnit {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
            line-height: 1;
            user-select: none;
            font-size: calc(22px * var(--ratio));
            .unit {
              font-size: calc(14px * var(--ratio));
            }
          }
        }
        .numInfoName {
          margin-top: calc(26px * var(--ratio));
          font-size: calc(22px * var(--ratio));
          font-weight: bold;
        }
        .numInfoMsg {
          font-size: calc(18px * var(--ratio));
          font-style: italic;
          line-height: calc(24px * var(--ratio));
          opacity: 0.5;
          margin-bottom: calc(50px * var(--ratio));
        }
      }
    }
  }

  #course {
    // height: 100vh;
    height: calc(1300px * var(--ratio));
    // overflow-y: auto;
    // &::after {
    //   content: "";
    //   display: block;
    //   height: 1500px;
    // }
    // &::-webkit-scrollbar {
    //   display: none;
    // }
    .courseContent {
      // height: calc(100% - 98px);
      height: 100%;
      background: url("../../web/img/courseBg.webp") no-repeat;
      background-size: cover;
      position: sticky;
      top: calc(98px * var(--ratio));
      .container {
        padding: calc(200px * var(--ratio)) calc(120px * var(--ratio)) 0;
        height: 100%;
        color: $primaryColor;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        .courseName {
          font-size: calc(42px * var(--ratio));
          font-weight: bold;
          margin-bottom: calc(22px * var(--ratio));
        }
        .courseName2 {
          font-weight: bold;
          font-size: calc(22px * var(--ratio));
        }
        .shuxian {
          width: calc(2px * var(--ratio));
          height: calc(750px * var(--ratio));
          position: absolute;
          top: calc(436px * var(--ratio));
          bottom: 0;
          left: calc(408px * var(--ratio));
          z-index: 0;
        }
        .swiperBox {
          display: flex;
          position: relative;
          z-index: 1;
          justify-content: space-between;
          height: calc(731px * var(--ratio));
          overflow: hidden;
          margin-top: calc(60px * var(--ratio));
          margin-bottom: calc(145px * var(--ratio));
          padding-left: calc(50px * var(--ratio));
          padding-right: calc(10px * var(--ratio));
          user-select: none;
          .hengxian {
            width: calc(460px * var(--ratio));
            height: calc(40px * var(--ratio));
            position: absolute;
            top: 0;
            bottom: 0;
            left: calc(212px * var(--ratio));
            z-index: 2;
            margin: auto;
          }
          #yearBanner {
            font-size: calc(18px * var(--ratio));
            color: rgba($textColor4, 0.5);
            font-style: italic;
            width: calc(210px * var(--ratio));
            position: relative;
            overflow: initial;
            .swiper-slide {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              padding-right: calc(68px * var(--ratio));
              position: relative;
              &.swiper-slide-active {
                color: $textColor4;
                font-size: calc(22px * var(--ratio));
                font-weight: bold;
              }
              &::after {
                content: "";
                position: absolute;
                width: calc(24px * var(--ratio));
                height: calc(24px * var(--ratio));
                right: calc(-11px * var(--ratio));
                top: 0;
                bottom: 0;
                margin: auto;
                background: url("../../web/img/heidian.webp") center center /
                  100% 100%;
              }
            }
          }
          #courseBanner {
            width: 0;
            flex: 1;
            margin-top: calc(-260px * var(--ratio));
            padding-left: calc(235px * var(--ratio));
            .swiper-slide {
              font-size: calc(18px * var(--ratio));
              .yearName {
                position: absolute;
                height: max-content;
                top: 0;
                bottom: 0;
                margin: auto;
                color: rgba($textColor4, 0.5);
                transform: translate(0, 0);
                transition: all 0.3s;
                width: calc(40px * var(--ratio));
              }
              .yearContent {
                position: absolute;
                height: max-content;
                top: 0;
                bottom: 0;
                margin: auto;
                color: $textColor4;
                transform: translate(calc(50px * var(--ratio)), 0);
                transition: transform 0.3s, color 0.3s;
                white-space: pre;
                overflow: hidden;
                text-overflow: ellipsis;
                width: calc(100% - (50px * var(--ratio)));
              }
              &.swiper-slide-active {
                height: calc(310px * var(--ratio)) !important;
                .yearName {
                  color: $primaryColor;
                  transform: translate(0, calc(-55px * var(--ratio)));
                  width: calc(200px * var(--ratio));
                  font-size: calc(82px * var(--ratio));
                  font-weight: bold;
                }
                .yearContent {
                  color: $primaryColor;
                  white-space: initial;
                  overflow: initial;
                  width: 100%;
                  font-size: calc(22px * var(--ratio));
                  transform: translate(0, calc(55px * var(--ratio)));
                  font-weight: bold;
                }
              }
            }
          }
        }
        .swiper-scrollbar {
          position: absolute;
          width: calc(10px * var(--ratio));
          height: calc(805px * var(--ratio));
          right: 0;
          top: calc(436px * var(--ratio));
          background: rgba($markBackground, 0.1);
          .swiper-scrollbar-drag {
            background: $primaryColor;
          }
        }
      }
    }
  }

  .originator {
    position: relative;
    height: 1040px;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      right: 0;
      background: $primaryColor;
      z-index: 0;
    }
    .container {
      display: flex;
      justify-content: center;
      justify-content: space-between;
      height: 100%;
      position: relative;
      z-index: 1;
      &::after {
        content: "";
        width: 870px;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
        background: $primaryColor;
        position: absolute;
      }
      .originatorLeft {
        position: relative;
        z-index: 1;
        color: $primaryColor;
        padding-left: 120px;
        padding-top: 100px;
        .topTitle {
          font-size: 42px;
          font-weight: bold;
          margin-bottom: 56px;
        }
        .imgBox {
          width: 610px;
          height: 427px;
          position: relative;
          margin-bottom: 60px;
          .originatorImg {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .imgBtmLine {
            position: absolute;
            display: flex;
            bottom: 0;
            left: 0;
            right: 0;
            height: 8px;
            &::before {
              content: "";
              width: 180px;
              background: rgba($primaryColor, 0.9);
            }
            &::after {
              content: "";
              flex: 1;
              background: rgba($yellowBackground, 0.8);
            }
          }
        }
        .originatorName {
          width: 390;
          display: flex;
          align-items: flex-end;
          padding-bottom: 20px;
          margin-left: 165px;
          border-bottom: 1px solid rgba($borderColor2, 0.25);
          .p1 {
            font-size: 28px;
            font-weight: bold;
          }
          .p2 {
            font-size: 18px;
            color: $textColor6;margin-left: 16px;
          }
        }
      }
      .originatorRight {
        margin-left: 110px;
        position: relative;
        z-index: 1;
        width: 0;
        flex: 1;
      }
    }
  }
}
