.branding {
  .store {
    height: calc(1000px * var(--ratio));
    background: url("../../web/img/storeBg.webp");
    background-size: cover;
    position: relative;
    .swiper-container {
      height: 100%;
      .swiper-slide {
        width: calc(1440px * var(--ratio)) !important;
        margin: 0 calc(-100px * var(--ratio));
        // height: calc(472px * var(--ratio));
        transform: scale(0.54);
        transition: transform 0.3s;
        text-align: center;
        .storeItem {
          width: 100%;
          height: 100%;
          padding-top: calc(100px * var(--ratio));
          color: $primaryColor;
          .storeName {
            font-size: calc(42px * var(--ratio));
            font-weight: bold;
            margin-bottom: calc(60px * var(--ratio));
          }
          .storeImg {
            height: calc(650px * var(--ratio));
            width: 100%;
            position: relative;
            z-index: 1;
          }
          .shadowBtm {
            position: absolute;
            z-index: 0;
            background: url("../../web/img/storeShadow.webp") center center /
              100% 100% no-repeat;
            width: calc(1348px * var(--ratio));
            height: calc(102px * var(--ratio));
            left: 0;
            right: 0;
            bottom: calc(70px * var(--ratio));
            margin: auto;
            display: none;
          }
        }
        &.swiper-slide-active {
          transform: scale(1);
          .shadowBtm {
            display: block;
          }
        }
      }
    }
    .container {
      height: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      margin: auto;
    }
  }

  .showCar {
    min-height: calc(986px * var(--ratio));
    padding-top: calc(107px * var(--ratio));
    color: $primaryColor;
    text-align: center;
    .showCarTitle {
      font-size: calc(42px * var(--ratio));
      line-height: calc(36px * var(--ratio));
      font-weight: bold;
    }
    .showCarBtnBox {
      display: flex;
      width: max-content;
      margin: 0 auto;
      margin-top: calc(36px * var(--ratio));
      .showCarBtnItem {
        width: calc(63px * var(--ratio));
        height: calc(63px * var(--ratio));
        border-radius: 50%;
        background: rgba($markBackground, 0.25);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: calc(55px * var(--ratio));
        cursor: pointer;
        img {
          max-height: calc(64px * var(--ratio));
          max-width: calc(90px * var(--ratio));
          opacity: 0.5;
        }
        &:last-child {
          margin-right: 0;
        }
        &.active {
          background: $yellowBackground;
          img {
            opacity: 1;
          }
        }
      }
    }
    #showCarImg {
      margin: calc(40px * var(--ratio)) 0 calc(130px * var(--ratio));
      width: calc(var(--width) * var(--ratio));
      height: calc(var(--height) * var(--ratio));
    }
  }

  .vi {
    height: calc(852px * var(--ratio));
    background: url("../../web/img/viBg.webp");
    background-size: cover;
    color: $primaryColor;
    .container {
      padding: calc(150px * var(--ratio)) calc(140px * var(--ratio)) 0;
      display: flex;
      .viBook {
        width: calc(607px * var(--ratio));
        margin-right: calc(154px * var(--ratio));
      }
      .bookDown {
        margin-top: calc(122px * var(--ratio));
        p {
          font-size: calc(42px * var(--ratio));
          font-weight: bold;
          margin-bottom: calc(48px * var(--ratio));
        }
        .yellowBtn {
          width: calc(145px * var(--ratio));
          height: calc(54px * var(--ratio));
        }
      }
    }
  }
}
