.branding {
  .store {
    height: 1000px;
    background: url("../../web/img/storeBg.webp");
    background-size: cover;
    position: relative;
    .swiper-container {
      height: 100%;
      .swiper-slide {
        width: 1440px !important;
        margin: 0 -100px;
        // height: 472px;
        transform: scale(0.54);
        transition: transform 0.3s;
        text-align: center;
        .storeItem {
          width: 100%;
          height: 100%;
          padding-top: 100px;
          color: $primaryColor;
          .storeName {
            font-size: 42px;
            font-weight: bold;
            margin-bottom: 60px;
          }
          .storeImg {
            height: 650px;
            width: 100%;
            position: relative;
            z-index: 1;
          }
          .shadowBtm {
            position: absolute;
            z-index: 0;
            background: url("../../web/img/storeShadow.webp") center center /
              100% 100% no-repeat;
            width: 1348px;
            height: 102px;
            left: 0;
            right: 0;
            bottom: 70px;
            margin: auto;
            display: none;
          }
        }
        &.swiper-slide-active {
          transform: scale(1);
          .shadowBtm {
            display: block;
          }
        }
      }
    }
    .container {
      height: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      margin: auto;
    }
  }

  .showCar {
    min-height: 986px;
    padding-top: 107px;
    color: $primaryColor;
    text-align: center;
    .showCarTitle {
      font-size: 42px;
      line-height: 36px;
      font-weight: bold;
    }
    .showCarBtnBox {
      display: flex;
      width: max-content;
      margin: 0 auto;
      margin-top: 36px;
      .showCarBtnItem {
        width: 63px;
        height: 63px;
        border-radius: 50%;
        background: rgba($markBackground, 0.25);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 55px;
        cursor: pointer;
        img {
          max-height: 64px;
          max-width: 90px;
          opacity: 0.5;
        }
        &:last-child {
          margin-right: 0;
        }
        &.active {
          background: $yellowBackground;
          img {
            opacity: 1;
          }
        }
      }
    }
    #showCarImg{
      margin: 40px 0 130px;
    }
  }
}
