.catalogDownload {
  .main-content {
    background: url("../../web/img/newsPageBg.webp") no-repeat;
    background-size: 100% auto;
    padding-bottom: calc(85px * var(--ratio));
    .container {
      padding-top: calc(92px * var(--ratio));
      width: calc(1440px * var(--ratio));
      .myTabContent {
        margin-bottom: calc(88px * var(--ratio));
        margin-top: 56px;
        .myTabWrap.show {
          display: block;
        }
      }
      .downloadItem {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba($borderColor2, 0.1);
        margin-bottom: 30px;
        color: $primaryColor;
        .itemLeft {
          width: 254px;
          height: 344px;
          margin-right: 50px;
          img {
            width: 254px;
            height: 344px;
            display: block;
          }
        }
        .itemRight {
          width: 0;
          flex: 1;
          p {
            margin-top: 26px;
            font-size: 32px;
            font-weight: bold;
          }
          .itemBtnBox {
            display: flex;
            margin-top: 50px;
            .itemBtn {
              user-select: none;
              width: 160px;
              height: 52px;
              line-height: 50px;
              border: 1px solid rgba($borderColor2, 0.1);
              border-radius: 2px;
              cursor: pointer;
              padding-left: 26px;
              margin-right: 15px;
              transition: all 0.3s;
              font-weight: bold;
              font-size: 18px;
              background: url("../../web/img/yulan.webp") no-repeat right 15px
                center;
              background-size: 13px;
              &.down {
                background-image: url("../../web/img/download.webp");
              }
              &:hover {
                background-color: $yellowBackground;
                border-color: transparent;
              }
            }
          }
        }
      }
    }
  }
}
