.catalogDownload {
  .main-content {
    background: url("../../web/img/newsPageBg.webp") no-repeat;
    background-size: 100% auto;
    padding-bottom: calc(85px * var(--ratio));
    .container {
      padding-top: calc(92px * var(--ratio));
      width: calc(1440px * var(--ratio));
      .myTabContent {
        margin-bottom: calc(88px * var(--ratio));
        margin-top: calc(56px * var(--ratio));
        .myTabWrap.show {
          display: block;
        }
      }
      .downloadItem {
        display: flex;
        justify-content: space-between;
        padding-bottom: calc(20px * var(--ratio));
        border-bottom: calc(1px * var(--ratio)) solid rgba($borderColor2, 0.1);
        margin-bottom: calc(30px * var(--ratio));
        color: $primaryColor;
        .itemLeft {
          width: calc(254px * var(--ratio));
          height: calc(344px * var(--ratio));
          margin-right: calc(50px * var(--ratio));
          img {
            width: calc(254px * var(--ratio));
            height: calc(344px * var(--ratio));
            display: block;
          }
        }
        .itemRight {
          width: 0;
          flex: 1;
          p {
            margin-top: calc(26px * var(--ratio));
            font-size: calc(32px * var(--ratio));
            font-weight: bold;
          }
          .itemBtnBox {
            display: flex;
            margin-top: calc(50px * var(--ratio));
            .itemBtn {
              user-select: none;
              width: calc(160px * var(--ratio));
              height: calc(52px * var(--ratio));
              line-height: calc(50px * var(--ratio));
              border: calc(1px * var(--ratio)) solid rgba($borderColor2, 0.1);
              border-radius: calc(2px * var(--ratio));
              cursor: pointer;
              padding-left: calc(26px * var(--ratio));
              margin-right: calc(15px * var(--ratio));
              transition: all 0.3s;
              font-weight: bold;
              font-size: calc(18px * var(--ratio));
              background: url("../../web/img/yulan.webp") no-repeat right
                calc(15px * var(--ratio)) center;
              background-size: calc(13px * var(--ratio));
              &.down {
                background-image: url("../../web/img/download.webp");
              }
              &:hover {
                background-color: $yellowBackground;
                border-color: transparent;
              }
            }
          }
        }
      }
    }
  }
}
