.contactUs {
  .formWrap {
    padding-top: calc(100px * var(--ratio));
    background: url("../../web/img/liuyanBg.webp") 100%;
    .container {
      width: calc(1440px * var(--ratio));
      color: $textColor6;
      padding-bottom: calc(88px * var(--ratio));
      .formTop {
        height: calc(66px * var(--ratio));
        display: flex;
        justify-content: space-between;
        line-height: calc(66px * var(--ratio));
        .topLeft {
          width: calc(345px * var(--ratio));
          background: $yellowBackground;
          padding-left: calc(46px * var(--ratio));
          font-size: calc(22px * var(--ratio));
        }
        .topRight {
          flex: 1;
          font-size: calc(18px * var(--ratio));
          background: $primaryColor;
          color: $textColor3;
          padding-left: calc(68px * var(--ratio));
          display: flex;
          align-items: center;
          user-select: none;
          .radioItem {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-right: calc(95px * var(--ratio));
            .checkBox {
              width: calc(18px * var(--ratio));
              height: calc(18px * var(--ratio));
              border: calc(1px * var(--ratio)) solid rgba($textColor3, 0.5);
              position: relative;
              margin-right: calc(16px * var(--ratio));
              i {
                display: none;
                font-size: calc(16px * var(--ratio));
                line-height: 1;
                position: absolute;
                top: 0;
                left: 0;
                font-weight: bold;
              }
            }
            &.active {
              .checkBox {
                color: $yellotextColor;
                border-color: currentColor;
                i {
                  display: block;
                }
              }
            }
          }
        }
      }
      .formBox {
        background: $mainBackground;
        padding: calc(40px * var(--ratio)) calc(20px * var(--ratio)) 0
          calc(30px * var(--ratio));
        .yanzhengma {
          flex: 0;
          line-height: calc(50px * var(--ratio));
          .label {
            height: calc(50px * var(--ratio));
          }
          .inputBox {
            height: calc(50px * var(--ratio));
            width: calc(440px * var(--ratio));
            position: relative;
            input {
              padding-left: calc(60px * var(--ratio));
              padding-right: calc(120px * var(--ratio));
              height: 100%;
              border-left: calc(1px * var(--ratio)) solid rgba(#000, 0.1);
            }
          }
          .anquanBox,
          .yzmBox {
            position: absolute;
            width: calc(1px * var(--ratio));
            height: calc(19px * var(--ratio));
            background: rgba(#000, 0.1);
            top: 0;
            bottom: 0;
            margin: auto;
            left: calc(53px * var(--ratio));
            img {
              top: 0;
              bottom: 0;
              margin: auto;
            }
          }
          .anquanBox {
            img {
              position: absolute;
              display: none;
              width: calc(19px * var(--ratio));
              right: calc(18px * var(--ratio));
            }
          }
          .yzmBox {
            left: calc(322px * var(--ratio));
            img {
              position: absolute;
              width: calc(85px * var(--ratio));
              height: calc(22px * var(--ratio));
              left: calc(18px * var(--ratio));
            }
          }
        }
      }
    }
  }
}
