footer {
  .footer-content {
    padding-top: calc(76px * var(--ratio));
    border-top: calc(1px * var(--ratio)) solid $borderColor;
    display: flex;
    padding-bottom: calc(56px * var(--ratio));
    .container {
      justify-content: space-between;
      display: flex;
      padding-left: calc(150px * var(--ratio));
      .logoBox {
        .logo {
          width: calc(194px * var(--ratio));
          height: calc(79px * var(--ratio));
          margin-bottom: calc(37px * var(--ratio));
        }
        .share {
          display: flex;
          .shareItem {
            width: calc(44px * var(--ratio));
            height: calc(44px * var(--ratio));
            margin-right: calc(4px * var(--ratio));
            margin-bottom: calc(15px * var(--ratio));
            display: flex;
            align-items: center;
            justify-content: center;
            background: $btnBackground;
            cursor: pointer;
            .weixin {
              width: calc(21px * var(--ratio));
              height: calc(17px * var(--ratio));
            }
            .zheshisha {
              width: calc(19px * var(--ratio));
              height: calc(17px * var(--ratio));
            }
            .douyin {
              width: calc(17px * var(--ratio));
              height: calc(19px * var(--ratio));
            }
            &:hover {
              background: $yellowBackground;
            }
          }
        }
        .cqc {
          width: calc(362px * var(--ratio));
          height: calc(82px * var(--ratio));
        }
      }
      .btmNav {
        padding-top: calc(30px * var(--ratio));
        margin-left: 7%;
        display: flex;
        flex: 1;
        .navBox {
          width: 30%;
          .navTitle {
            white-space: pre;
            font-weight: bold;
            font-size: calc(20px * var(--ratio));
            font-family: OPPOSans;
            color: $primaryColor;
            line-height: calc(28px * var(--ratio));
            margin-bottom: calc(25px * var(--ratio));
          }
          .navItem {
            white-space: pre;
            font-size: calc(16px * var(--ratio));
            user-select: none;
            cursor: pointer;
            font-family: OPPOSans;
            font-weight: 400;
            color: $primaryColor;
            line-height: calc(24px * var(--ratio));
            opacity: 0.5;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
      .btmTel {
        // margin-left: calc(46px * var(--ratio));
        .telItem {
          margin-bottom: calc(20px * var(--ratio));
          color: $primaryColor;
          font-weight: bold;
          line-height: calc(24px * var(--ratio));
          font-family: OPPOSans;
          .p1 {
            font-size: calc(16px * var(--ratio));
            white-space: pre;
          }
          .p2 {
            font-size: calc(22px * var(--ratio));
            white-space: pre;
          }
          .p3 {
            font-size: calc(16px * var(--ratio));
            white-space: pre;
          }
        }
      }
    }
  }
  .footerBtm .container {
    line-height: calc(70px * var(--ratio));
    border-top: calc(1px * var(--ratio)) solid $borderColor;
    display: flex;
    justify-content: space-between;
    font-size: calc(13px * var(--ratio));
    font-family: OPPOSans;
    font-weight: 500;
    color: $primaryColor;
    a {
      color: $primaryColor;
      text-decoration: none;
      margin-right: calc(30px * var(--ratio));
      &:hover {
        text-decoration: underline;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
