header {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Tahoma,
    sans-serif;
  font-size: 12px;
  position: sticky;
  top: -44px;
  background: $mainBackground;
  .headerTop {
    height: 44px;
    padding: 13px 0;
    border-bottom: 1px solid rgba($primaryColor, 0.1);
    color: $primaryColor;
    font-weight: bold;
    font-size: 13px;
    font-family: OPPOSans;
    user-select: none;
    .container {
      display: flex;
      justify-content: space-between;
      .container-left,
      .container-right {
        display: flex;
        align-items: center;
        .leftLine {
          margin: 0 7px;
        }
        .rightLine {
          margin: 0 24px;
          width: 1px;
          height: 14px;
          background: $primaryColor;
          opacity: 0.2;
        }
      }
      .lang {
        width: 16px;
        height: 16px;
        margin-right: 5px;
      }
      .jd {
        width: 20px;
        height: 15px;
        margin-right: 5px;
      }
      .tm {
        width: 17px;
        height: 16px;
        margin-right: 5px;
      }
    }
  }
  .headerContent {
    height: 98px;
    > .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      .container-left {
        display: flex;
        align-items: center;
        .logo {
          width: 414px;
          height: 60px;
        }
      }
      .container-right {
        display: flex;
        align-items: center;
        height: 100%;
        .nav {
          line-height: 98px;
          height: 100%;
          display: flex;
          justify-content: space-between;
          font-size: 20px;
          font-family: Alibaba PuHuiTi 2;
          color: $textColor1;
          .navItem {
            margin: 0 10px;
            cursor: pointer;
            .navName {
              padding: 0 50px;
              white-space: pre;
              font-weight: bold;
            }
            .navSel {
              height: 0;
              overflow: hidden;
              border-top: 1px solid $borderColor;
              border-bottom: 1px solid $borderColor;
              position: absolute;
              top: 100%;
              width: 100%;
              left: 0;
              right: 0;
              cursor: default;
              background: $mainBackground;
              transition: height 0.2s;
              > .container {
                height: 280px;
                padding-top: 48px;
                display: flex;
                line-height: 1;
                .navSelItem {
                  width: 480px;
                  height: 160px;
                  padding-left: 40px;
                  border-right: 1px solid rgba($primaryColor, 0.1);
                  .selTitle {
                    font-size: 18px;
                    font-family: OPPOSans;
                    font-weight: bold;
                    color: $primaryColor;
                    line-height: 24px;
                    margin-bottom: 25px;
                  }
                  .selName span {
                    font-size: 16px;
                    font-family: OPPOSans;
                    font-weight: 500;
                    color: $textColor2;
                    line-height: 30px;
                    cursor: pointer;
                    z-index: 1;
                    position: relative;
                    // text-decoration: underline $yellowBackground;
                    &::after {
                      content: "";
                      position: absolute;
                      bottom: 2px;
                      width: 100%;
                      left: 0;
                      height: 4px;
                      display: none;
                      z-index: -1;
                      background: $yellowBackground;
                    }
                    &:hover {
                      font-weight: bold;
                      color: $primaryColor;
                      &::after {
                        display: block;
                      }
                    }
                  }
                }
              }
            }
            .activeLine {
              position: relative;
              width: 100%;
              height: 6px;
              top: -6px;
              overflow: hidden;
              &::after {
                position: absolute;
                width: 100%;
                top: 6px;
                content: "";
                height: 6px;
                background: $primaryColor;
                transition: top 0.1s;
              }
            }
            &:hover {
              .activeLine {
                &::after {
                  top: 0;
                }
              }

              .navSel {
                height: 280px;
              }
            }
          }
        }
        .search {
          width: 17px;
          height: 18px;
          cursor: pointer;
        }
      }
    }
  }
}
