header {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Tahoma,
    sans-serif;
  font-size: 12px;
  position: sticky;
  top: -44px;
  background: #fff;
  .headerTop {
    height: 44px;
    padding: 13px 0;
    border-bottom: 1px solid rgba($prColor, 0.1);
    color: $prColor;
    font-weight: bold;
    font-size: 13px;
    font-family: OPPOSans;
    user-select: none;
    .container {
      display: flex;
      justify-content: space-between;
      .container-left,
      .container-right {
        display: flex;
        align-items: center;
        .leftLine {
          margin: 0 7px;
        }
        .rightLine {
          margin: 0 24px;
          width: 1px;
          height: 14px;
          background: $prColor;
          opacity: 0.2;
        }
      }
      .lang {
        width: 16px;
        height: 16px;
        margin-right: 5px;
      }
      .jd {
        width: 20px;
        height: 15px;
        margin-right: 5px;
      }
      .tm {
        width: 17px;
        height: 16px;
        margin-right: 5px;
      }
    }
  }
  .headerContent {
    height: 98px;
    border-bottom: 1px solid #bbb;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      .container-left {
        display: flex;
        align-items: center;
        .logo {
          width: 414px;
          height: 60px;
        }
      }
      .container-right {
        display: flex;
        align-items: center;
        height: 100%;
        .nav {
          line-height: 98px;
          height: 100%;
          display: flex;
          justify-content: space-between;
          font-size: 20px;
          font-family: Alibaba PuHuiTi 2;
          color: $textColor1;
          .navItem {
            margin: 0 10px;
            cursor: pointer;
            // position: relative;
            .navName {
              padding: 0 50px;
              white-space: pre;
              font-weight: bold;
            }
            .navSel {
              display: none;
              position: absolute;
              top: 100%;
              width: 100%;
              height: 150px;
              left: 0;
              right: 0;
              cursor: default;
              background: #c00;
            }
            .activeLine {
              position: relative;
              width: 100%;
              height: 6px;
              top: -6px;
              overflow: hidden;
              &::after {
                position: absolute;
                width: 100%;
                top: 6px;
                content: "";
                height: 6px;
                background: $prColor;
                transition: top 0.1s;
              }
            }
            &:hover {
              .activeLine {
                &::after {
                  top: 0;
                }
              }

              .navSel {
                display: block;
              }
            }
          }
        }
        .search {
          width: 17px;
          height: 18px;
          cursor: pointer;
        }
      }
    }
  }
}
