header {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Tahoma,
    sans-serif;
  font-size: calc(12px * var(--ratio));
  position: sticky;
  top: calc(-44px * var(--ratio));
  background: $mainBackground;
  z-index: 99;
  .headerTop {
    height: calc(44px * var(--ratio));
    padding: calc(13px * var(--ratio)) 0;
    border-bottom: calc(1px * var(--ratio)) solid rgba($primaryColor, 0.1);
    color: $primaryColor;
    font-weight: bold;
    font-size: calc(13px * var(--ratio));
    font-family: OPPOSans;
    user-select: none;
    .container {
      display: flex;
      justify-content: space-between;
      .container-left,
      .container-right {
        display: flex;
        align-items: center;
        .leftLine {
          margin: 0 calc(7px * var(--ratio));
        }
        .rightLine {
          margin: 0 calc(24px * var(--ratio));
          width: calc(1px * var(--ratio));
          height: calc(14px * var(--ratio));
          background: $primaryColor;
          opacity: 0.2;
        }
      }
      .lang {
        width: calc(16px * var(--ratio));
        height: calc(16px * var(--ratio));
        margin-right: calc(5px * var(--ratio));
      }
      .jd {
        width: calc(20px * var(--ratio));
        height: calc(15px * var(--ratio));
        margin-right: calc(5px * var(--ratio));
      }
      .tm {
        width: calc(17px * var(--ratio));
        height: calc(16px * var(--ratio));
        margin-right: calc(5px * var(--ratio));
      }
    }
  }
  .headerContent {
    height: calc(98px * var(--ratio));
    > .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      .container-left {
        display: flex;
        align-items: center;
        .logo {
          width: calc(414px * var(--ratio));
          height: calc(60px * var(--ratio));
        }
      }
      .container-right {
        display: flex;
        align-items: center;
        height: 100%;
        .nav {
          line-height: calc(98px * var(--ratio));
          height: 100%;
          display: flex;
          justify-content: space-between;
          font-size: calc(20px * var(--ratio));
          font-family: Alibaba PuHuiTi 2;
          .navItem {
            margin: 0 calc(10px * var(--ratio));
            cursor: pointer;
            .navName {
              color: $textColor1;
              text-decoration: none;
              padding: 0 calc(50px * var(--ratio));
              white-space: pre;
              font-weight: bold;
            }
            .navSel {
              height: 0;
              overflow: hidden;
              border-top: calc(1px * var(--ratio)) solid $borderColor;
              border-bottom: calc(1px * var(--ratio)) solid $borderColor;
              position: absolute;
              top: 100%;
              width: 100%;
              left: 0;
              right: 0;
              cursor: default;
              background: $mainBackground;
              transition: height 0.2s;
              > .container {
                height: calc(280px * var(--ratio));
                padding-top: calc(48px * var(--ratio));
                display: flex;
                line-height: 1;
                .navSelItem {
                  width: calc(480px * var(--ratio));
                  height: calc(160px * var(--ratio));
                  padding-left: calc(40px * var(--ratio));
                  border-right: calc(1px * var(--ratio)) solid
                    rgba($primaryColor, 0.1);
                  .selTitle {
                    font-size: calc(18px * var(--ratio));
                    font-family: OPPOSans;
                    font-weight: bold;
                    color: $primaryColor;
                    line-height: calc(24px * var(--ratio));
                    margin-bottom: calc(25px * var(--ratio));
                  }
                  .selName span {
                    font-size: calc(16px * var(--ratio));
                    font-family: OPPOSans;
                    font-weight: 500;
                    color: $textColor2;
                    line-height: calc(30px * var(--ratio));
                    cursor: pointer;
                    z-index: 1;
                    position: relative;
                    // text-decoration: underline $yellowBackground;
                    &::after {
                      content: "";
                      position: absolute;
                      bottom: calc(2px * var(--ratio));
                      width: 100%;
                      left: 0;
                      height: calc(4px * var(--ratio));
                      display: none;
                      z-index: -1;
                      background: $yellowBackground;
                    }
                    &:hover {
                      font-weight: bold;
                      color: $primaryColor;
                      &::after {
                        display: block;
                      }
                    }
                  }
                }
              }
            }
            .activeLine {
              position: relative;
              width: 100%;
              height: calc(6px * var(--ratio));
              top: calc(-6px * var(--ratio));
              overflow: hidden;
              &::after {
                position: absolute;
                width: 100%;
                top: calc(6px * var(--ratio));
                content: "";
                height: calc(6px * var(--ratio));
                background: $primaryColor;
                transition: top 0.1s;
              }
            }
            &:hover {
              .activeLine {
                &::after {
                  top: 0;
                }
              }

              .navSel {
                height: calc(280px * var(--ratio));
              }
            }
          }
        }
        .search {
          width: calc(17px * var(--ratio));
          height: calc(18px * var(--ratio));
          cursor: pointer;
        }
      }
    }
  }
}
