.home {
  #banner {
    width: 100%;
    height: 820px;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #eee;
      display: flex;
      justify-content: center;
      align-items: center;
      .bannerImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .banner-progress {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 43px;
      margin: auto;
      width: 184px;
      height: 20px;
      z-index: 1;
      display: flex;
      justify-content: space-between;
      .progressCount,
      .progressBar {
        background-repeat: no-repeat;
        background-size: cover;
        transition: width 0.3s ease-out;
      }
      .progressCount {
        background-image: url("../../web/img/progressCount.webp");
      }
      .progressBar {
        width: 0;
        flex: 1;
        background-position: right top;
        background-image: url("../../web/img/progressBar.webp");
      }
    }
  }
  #searchBox {
    background: $primaryColor;
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .overturnBox {
      width: 255px;
      height: 240px;
      margin-top: 67px;
      margin-bottom: 28px;
      position: relative;
      .overturnBg {
        width: 145px;
        height: 186px;
        position: absolute;
        left: 37px;
        top: 27px;
        z-index: 0;
      }
      .overturnWrap {
        .overturnItem {
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          transform: rotateY(180deg);
          transition: transform 0.3s;
          position: absolute;
          top: 0;
          left: 0;
          &.rotate {
            transform: rotateY(0deg);
          }
        }
      }
    }
    .inputBox {
      width: 790px;
      height: 88px;
      background: $inputBackground;
      position: relative;
      .search {
        width: 20px;
        height: 21px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 48px;
        margin: auto;
      }
      input {
        outline: none;
        border: none;
        background: none;
        width: 100%;
        height: 100%;
        display: block;
        padding-left: 100px;
        font-size: 18px;
        font-family: Alibaba PuHuiTi 2;
        color: $primaryColor;
        padding-right: 30px;
        &::placeholder {
          color: rgba($primaryColor, 0.5);
        }
      }
    }
  }
  .recommendation {
    height: 960px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background: $primaryColor;
      z-index: 0;
      right: 50%;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      background: #f5f5f5;
      z-index: 0;
      left: 50%;
    }
    .container {
      display: flex;
      justify-content: space-between;
      height: 100%;
      position: relative;
      z-index: 1;
      .recommendation-left {
        padding-top: 120px;
        margin-left: -50px;
        width: 640px;
        position: relative;
        z-index: 1;
        background: $primaryColor;
        .topName {
          color: $textColor3;
        }
        .topTitle {
          color: #fff;
        }
        .entranceBtn {
          width: 200px;
          height: 54px;
          background: $yellowBackground;
          line-height: 54px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          user-select: none;
          .rightIcon {
            margin-left: 18px;
            width: 7px;
            height: 10px;
            transition: transform 0.5s;
          }
          &:hover {
            .rightIcon {
              transform: translateX(5px);
            }
          }
        }
        .quantou {
          width: 525px;
          height: 467px;
          position: absolute;
          left: -15px;
          bottom: 0;
        }
      }
      .recommendation-right {
        flex: 1;
        width: 0;
        background: #f5f5f5;
        position: relative;
        padding-top: 67px;
        padding-left: 50px;
        margin-right: -110px;
        .rightTitle {
          font-size: 28px;
          font-family: Alibaba PuHuiTi 2;
          color: $primaryColor;
          font-weight: bold;
          line-height: 30px;
          margin-bottom: 27px;
        }
        .recommendationNames {
          display: flex;
          flex-wrap: wrap;
          .nameItem {
            padding-right: 30px;
            margin-right: 30px;
            border-right: 1px solid rgba($borderColor2, 0.2);
            font-size: 18px;
            font-family: Alibaba PuHuiTi 2;
            color: rgba($primaryColor, 0.5);
          }
        }
        #recommendationSwiper {
          margin-top: 60px;
          width: 100%;
          height: 685px;
          .swiper-button-prev {
            transform: translateX(-50px);
          }
          .swiper-slide-active {
            background: #c00 !important;
          }
          .recommendationItem {
            background: $mainBackground;
            width: 570px;
            padding: 50px 54px;
            position: relative;
            .itemTitle {
              font-size: 36px;
              margin-bottom: 30px;
              font-family: Alibaba PuHuiTi 2;
              color: $primaryColor;
              font-weight: bold;
              padding-bottom: 30px;
              border-bottom: 1px solid rgba($borderColor2, 0.15);
            }
            .itemmsg {
              font-size: 18px;
              position: relative;
              font-family: Alibaba PuHuiTi 2;
              z-index: 1;
              color: $textColor4;
              .msg {
                padding-left: 10px;
                position: relative;
                &::before {
                  position: absolute;
                  content: "";
                  width: 4px;
                  height: 4px;
                  background: currentColor;
                  border-radius: 50%;
                  top: 11px;
                  left: 0px;
                }
              }
            }
            .itemBtn {
              width: 145px;
              height: 54px;
              background: $yellowBackground;
              line-height: 54px;
              margin-top: 75px;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              user-select: none;
              position: relative;
              z-index: 1;
              .rightIcon {
                margin-left: 18px;
                width: 7px;
                height: 10px;
                transition: transform 0.5s;
              }
              &:hover {
                .rightIcon {
                  transform: translateX(5px);
                }
              }
            }
            .msgBg {
              position: absolute;
              width: 418px;
              height: 428px;
              left: 0;
              bottom: 0;
              z-index: 0;
            }
            .msgImg {
              position: absolute;
              width: 320px;
              bottom: 12px;
              right: 14px;
              z-index: 0;
            }
          }
        }
      }
    }
  }
  .news {
    height: 1220px;
    background: url(../../web/img/newsBg.webp);
    background-size: cover;
    padding-top: 120px;
    position: relative;
    .container {
      #newsSwiper {
        height: 715px;
        overflow: inherit;
        .newsItem {
          background: #fff;
        }
        .swiper-slide-active {
          transition: box-shadow 0.5s;
          border: 1px solid #e3e5e6;
          box-shadow: 0px 0px 21px 0px rgba(0, 99, 190, 0.2);
          z-index: 1;
        }
      }
    }
  }
}
