.honorsCertificates {
  .board {
    height: calc(906px * var(--ratio));
    background: url("../../web/img/boardBg.webp") repeat-x;
    background-size: cover;
    position: relative;
    #boardUsBanner {
      height: 100%;
      width: calc(1700px * var(--ratio));
      #boardUsBanner-wrapper {
        // align-items: flex-end;
      }
      .swiper-slide {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
        padding: 0 calc(60px * var(--ratio));

        .bannerImg {
          width: 80%;
          height: calc(270px * var(--ratio));
          margin-bottom: calc(38px * var(--ratio));
          transition: all 0.3s;
          display: block;
          //   margin: auto;
        }
        .boardNameBox {
          height: calc(165px * var(--ratio));
          text-align: center;
        }
        .p1 {
          font-size: calc(18px * var(--ratio));
          margin: auto;
          font-weight: bold;
          position: relative;
          width: max-content;
          opacity: 0;
          transition: opacity 0.3s;
          span {
            position: relative;
            z-index: 1;
          }
          &::after {
            content: "";
            position: absolute;
            bottom: calc(2px * var(--ratio));
            left: 0;
            width: 100%;
            height: calc(8px * var(--ratio));
            background: $yellowBackground;
          }
        }
        .boardName {
          color: rgba($textColor4, 0.5);
          font-size: calc(20px * var(--ratio));
          line-height: calc(36px * var(--ratio));
          font-weight: bold;
          transform: translateY(calc(-24px * var(--ratio)));
          transition: all 0.3s;
        }
        .p3 {
          white-space: pre;
          font-size: calc(18px * var(--ratio));
          color: rgba($primaryColor, 0.5);
          opacity: 0;
          transition: opacity 0.3s;
        }
        &.swiper-slide-active {
          padding: 0;
          //   transform: scale(1.3);
          .bannerImg {
            width: 100%;
            height: calc(400px * var(--ratio));
          }
          .p1 {
            opacity: 1;
          }
          .p3 {
            opacity: 1;
          }
          .boardName {
            color: $textColor4;
            font-size: calc(42px * var(--ratio));
            line-height: calc(60px * var(--ratio));
            transform: translateY(0);
          }
        }
      }
    }
  }
  .certificate {
    padding-top: calc(90px * var(--ratio));
    .container {
      width: calc(1440px * var(--ratio));
      // .certificateTab {
      //   height: calc(72px * var(--ratio));
      //   line-height: calc(72px * var(--ratio));
      //   display: flex;
      //   width: 100%;
      //   margin-bottom: calc(40px * var(--ratio));
      //   border: calc(1px * var(--ratio)) solid rgba($borderColor2, 0.1);
      //   .certificateTabItem {
      //     flex: 1;
      //     text-align: center;
      //     font-size: calc(22px * var(--ratio));
      //     font-weight: bold;
      //     color: $primaryColor;
      //     cursor: pointer;
      //     &.active {
      //       background: $activeBackground;
      //       color: $textColor3;
      //     }
      //   }
      // }
      .myTabContent {
        .myTabWrap {
          .certificateItem {
            width: 25%;
            height: calc(462px * var(--ratio));
            position: relative;
            padding-top: calc(35px * var(--ratio));
            background: #fff;
            border: calc(1px * var(--ratio)) solid $borderColor3;
            margin: calc(-1px * var(--ratio));
            cursor: pointer;
            img {
              width: calc(244px * var(--ratio));
              height: calc(332px * var(--ratio));
              display: block;
              margin: auto;
            }
            .certificateNameBox {
              position: absolute;
              display: flex;
              flex-direction: column;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              &::before {
                content: "";
                flex: 1;
                height: 0;
                transition: background 0.3s;
              }
              &::after {
                content: "";
                position: absolute;
                opacity: 0;
                width: calc(58px * var(--ratio));
                height: calc(58px * var(--ratio));
                transform: translateY(calc(10px * var(--ratio)));
                transition: all 0.3s;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                background: #c00;
              }
              .certificateName {
                height: calc(107px * var(--ratio));
                display: flex;
                font-weight: bold;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                color: $primaryColor;
                transition: background 0.3s;
              }
            }
            &:hover {
              .certificateNameBox {
                &::before {
                  background: rgba($markBackground, 0.1);
                }
                &::after {
                  opacity: 1;
                  transform: translateY(0);
                }
                .certificateName {
                  background: rgba($yellowBackground, 0.9);
                }
              }
            }
          }
        }
      }
    }

    .popupWrap {
      .popupContent {
        width: calc(760px * var(--ratio));
        height: calc(900px * var(--ratio));
        .swiper-container {
          height: 100%;
          .swiper-slide {
            padding-top: calc(20px * var(--ratio));
            .pupopName {
              font-size: calc(32px * var(--ratio));
              line-height: calc(60px * var(--ratio));
              color: $textColor4;
              font-weight: bold;
              text-align: center;
            }
            .bannerImg {
              width: calc(557px * var(--ratio));
              height: calc(765px * var(--ratio));
              margin: auto;
              display: block;
            }
          }
        }
      }
    }
  }
}
