.indusrialClients {
  .pageContent {
    background: $grayBackground;
    padding: calc(45px * var(--ratio)) 0 calc(118px * var(--ratio));
    color: $primaryColor;
    .container {
      display: flex;
      .containerLeft {
        width: calc(280px * var(--ratio));
        margin-right: calc(35px * var(--ratio));
      }
      .containerRight {
        width: 0;
        flex: 1;
        padding-bottom: calc(170px * var(--ratio));
        .indusrialItem {
          border-top: calc(1px * var(--ratio)) solid $primaryColor;
          padding-bottom: calc(72px * var(--ratio));
          .indusrialTitle {
            font-size: calc(32px * var(--ratio));
            width: max-content;
            border-top: calc(6px * var(--ratio)) solid $yellowBackground;
            font-weight: bold;
            padding: calc(16px * var(--ratio)) calc(95px * var(--ratio))
              calc(24px * var(--ratio)) 0;
            line-height: 1;
          }
          .indusrialItemImgBox {
            // height: calc(480px * var(--ratio));
            overflow: hidden;
            .indusrialItemImg {
              width: 100%;
              // height: 100%;
              object-fit: cover;
              transition: all 0.3s;
              &:hover {
                transform: scale(1.2);
              }
            }
          }
        }
      }
    }
  }
}
