.news {
  .main-content {
    background: $yellowBackground url("../../web/img/newsPageBg.webp");
    background-size: cover;
    .container {
      padding-top: 92px;
      width: 1440px;
      #newsTab {
        
      }
    }
  }
}
