.newsSearch {
  .topSearch {
    background: $grayBackground;
    .container {
      padding: calc(47px * var(--ratio)) 0 calc(40px * var(--ratio));
      width: calc(1440px * var(--ratio));
      .mySearchInput {
        height: calc(54px * var(--ratio));
        margin-bottom: 0;
        .mySearchBtn {
          width: calc(145px * var(--ratio));
          text-align: center;
          font-size: calc(18px * var(--ratio));
          background: $primaryColor;
          color: $textColor3;
          line-height: calc(54px * var(--ratio));
        }
      }
    }
  }
  .resultContent {
    padding-top: calc(45px * var(--ratio));
    .container {
      width: calc(1440px * var(--ratio));
      margin-bottom: calc(196px * var(--ratio));
    }
    .resultTitle {
      border-bottom: calc(2px * var(--ratio)) solid $borderColor5;
      padding-bottom: calc(28px * var(--ratio));
      font-size: calc(22px * var(--ratio));
      font-weight: bold;
      color: $textColor4;
    }
    .resultTab {
      color: $textColor4;
      font-size: calc(18px * var(--ratio));
      display: flex;
      line-height: calc(65px * var(--ratio));
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: calc(40px * var(--ratio));
        height: calc(4px * var(--ratio));
        bottom: 0;
        left: calc(60px * var(--ratio));
        background: $markBackground;
        transition: left 0.3s;
      }
      .resultTabItem {
        transform: opacity 0.3s;
        opacity: 0.5;
        padding: 0 calc(10px * var(--ratio));
        margin: 0 calc(26px * var(--ratio));
        cursor: pointer;
      }
      .active {
        opacity: 1;
      }
    }
    .resultList {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      font-size: calc(18px * var(--ratio));
      color: $textColor4;
      margin-top: calc(10px * var(--ratio));
      margin-bottom: calc(74px * var(--ratio));
      .resultListItem {
        position: relative;
        padding: calc(35px * var(--ratio)) calc(56px * var(--ratio))
          calc(16px * var(--ratio)) calc(34px * var(--ratio));
        width: calc(710px * var(--ratio));
        cursor: pointer;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-bottom: calc(1px * var(--ratio)) solid rgba($borderColor3, 0.8);
        &::after {
          content: "";
          position: absolute;
          width: calc(8px * var(--ratio));
          height: calc(8px * var(--ratio));
          top: calc(40px * var(--ratio));
          left: calc(10px * var(--ratio));
          border-radius: 50%;
          background: $markBackground2;
        }
      }
    }
  }
}
