.newsDetail {
  .container {
    width: calc(1440px * var(--ratio));
    padding-top: calc(30px * var(--ratio));
    color: $primaryColor;
    .bread {
      margin-bottom: calc(84px * var(--ratio));
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: calc(18px * var(--ratio));
      width: max-content;
      .current {
        font-weight: bold;
        margin-left: calc(6px * var(--ratio));
      }
      .homeIcon {
        width: calc(11px * var(--ratio));
        height: calc(11px * var(--ratio));
        margin-right: calc(8px * var(--ratio));
      }
    }
    .newsTitle {
      text-align: center;
      font-size: calc(42px * var(--ratio));
      font-weight: bold;
    }
    .newsDate {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $textColor5;
      margin-top: calc(36px * var(--ratio));
      margin-bottom: calc(26px * var(--ratio));
      .rili {
        width: calc(22px * var(--ratio));
        height: calc(21px * var(--ratio));
        margin-right: calc(12px * var(--ratio));
      }
    }
    .detailContent {
      padding-top: calc(56px * var(--ratio));
      padding-bottom: calc(94px * var(--ratio));
      margin-bottom: calc(86px * var(--ratio));
      color: #001f3d;
      border-top: calc(1px * var(--ratio)) solid rgba($borderColor6, 0.1);
      border-bottom: calc(1px * var(--ratio)) solid rgba($borderColor6, 0.1);
      p {
        margin-bottom: calc(58px * var(--ratio));
      }
    }
    .changeDetail {
      display: block;
      width: max-content;
      font-size: calc(18px * var(--ratio));
      color: $primaryColor;
      text-decoration: none;
      margin-bottom: calc(22px * var(--ratio));
      &:hover {
        color: $textColor2;
      }
    }
  }
}
