.productDetail {
  color: $primaryColor;
  .container {
    width: calc(1440px * var(--ratio));
  }
  .breadWrap {
    height: calc(56px * var(--ratio));
    background: $grayBackground;
    .container {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
  .productDetaiWrap {
    padding-top: calc(84px * var(--ratio));
    .container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .detailLeft {
        width: calc(580px * var(--ratio));
        margin-right: calc(40px * var(--ratio));
        .productName {
          font-size: calc(42px * var(--ratio));
          font-weight: bold;
        }
        .productSize {
          font-size: calc(28px * var(--ratio));
          margin-top: calc(10px * var(--ratio));
          padding-bottom: calc(20px * var(--ratio));
          border-bottom: calc(1px * var(--ratio)) solid rgba($primaryColor, 0.1);
        }
        .introduction {
          margin-top: calc(48px * var(--ratio));
          font-size: calc(32px * var(--ratio));
          font-weight: bold;
          position: relative;
          width: max-content;
          margin-bottom: calc(44px * var(--ratio));
          &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: calc(8px * var(--ratio));
            background: $yellowBackground;
          }
          span {
            position: relative;
            z-index: 1;
          }
        }
        .introductionList {
          padding-left: calc(30px * var(--ratio));
          font-size: calc(18px * var(--ratio));
          height: calc(380px * var(--ratio));
          margin-bottom: calc(34px * var(--ratio));
          border-bottom: calc(1px * var(--ratio)) solid rgba($primaryColor, 0.1);
          p {
            margin-bottom: calc(10px * var(--ratio));
            position: relative;
            &::after {
              content: "";
              position: absolute;
              width: calc(5px * var(--ratio));
              height: calc(5px * var(--ratio));
              border-radius: calc(2px * var(--ratio));
              background: currentColor;
              left: calc(-10px * var(--ratio));
              top: calc(10px * var(--ratio));
            }
          }
        }
      }
      .detailRight {
        flex: 1;
        width: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .detailImg {
          width: calc(var(--width) * var(--ratio));
          height: calc(var(--height) * var(--ratio));
          display: block;
        }
      }
    }
    .downloadWrap {
      margin-bottom: calc(76px * var(--ratio));
      height: calc(88px * var(--ratio));
      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .downloadBtn {
        display: flex;
        height: 100%;
        width: calc(580px * var(--ratio));
        justify-content: space-between;
        align-items: center;
        padding: 0 calc(26px * var(--ratio));
        font-size: calc(22px * var(--ratio));
        border: calc(1px * var(--ratio)) solid rgba($primaryColor, 0.1);
        margin-right: 40px;
        .btnRight {
          width: calc(50px * var(--ratio));
          height: calc(50px * var(--ratio));
          display: flex;
          justify-content: center;
          align-items: center;
          background: $primaryColor;
          border-radius: calc(2px * var(--ratio));
          cursor: pointer;
          &:hover {
            background: #000;
          }
          .downIcon {
            width: calc(17px * var(--ratio));
            height: calc(17px * var(--ratio));
          }
        }
      }
      .downloadImgWrap {
        width: 0;
        flex: 1;
        display: flex;
        height: 100%;
        .downloadImgItem {
          padding: calc(10px * var(--ratio));
          height: 100%;
          width: calc(90px * var(--ratio));
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: calc(26px * var(--ratio));
          cursor: pointer;
          border: calc(1px * var(--ratio)) solid rgba($primaryColor, 0.1);
          img {
            max-width: 100%;
            max-height: 100%;
          }
          &:hover,
          &.active {
            border-color: $primaryColor;
          }
        }
      }
      .rightIconBox {
        cursor: pointer;
        box-sizing: content-box;
        img {
          width: calc(22px * var(--ratio));
          transition: all 0.3s;
        }
        &:hover {
          img {
            transform: translate(calc(15px * var(--ratio)));
          }
        }
      }
    }
  }
  .recommend {
    height: 600px;
    padding-top: 75px;
    color: $primaryColor;
    .recommendTitle {
      font-size: 28px;
      margin-bottom: 34px;
      font-weight: bold;
    }
    .recommendList {
      display: flex;
      // justify-content: space-between;
      .recommendItem {
        margin-right: 20px;
        width: 268px;
        height: 360px;
        border: 1px solid $borderColor;
        display: flex;
        flex-direction: column;
        .recommendName {
          height: 70px;
          line-height: 70px;
          text-align: center;
          font-size: 20px;
          font-weight: bold;
          border-bottom: calc(2px * var(--ratio)) solid rgba($borderColor2, 0.1);
        }
        .recommendImgBox {
          height: 0;
          flex: 1;
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
        .recommendSize {
          height: 84px;
          padding: 22px 26px;
          font-size: 18px;
          line-height: 22px;
        }
      }
    }
  }
}
