.socialMedia {
  .socialWrap {
    padding-top: calc(100px * var(--ratio));
    background: url("../../web/img/liuyanBg.webp") 100%;
    color: $primaryColor;
    padding-bottom: calc(253px * var(--ratio));
    .container {
      width: 1038px;
      display: flex;
      justify-content: space-between;
      font-size: 22px;
      .qrItem {
        width: 278px;
        text-align: center;
        font-weight: bold;
        img {
          padding: 20px;
          display: block;
          background: $mainBackground;
          width: 278px;
          height: 278px;
          margin-bottom: 48px;
          box-shadow: 0 calc(10px * var(--ratio)) calc(10px * var(--ratio)) 0
            rgba($boxShadowColor, 0.1);
        }
      }
    }
  }
}
